<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        
       <RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    					xmlns:tools="http://schemas.android.com/tools"
   						android:layout_width="match_parent"
    					android:layout_height="match_parent"
    					android:background="@drawable/bg"
    					tools:context=".MainActivity" >

    	<TextView
        				android:layout_width="wrap_content"
        				android:layout_height="wrap_content"
        				android:layout_centerHorizontal="true"
        				android:layout_centerVertical="true"
        				
        				/>
		</RelativeLayout>
        
        <activity
            android:name="com.example.bookapplication.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
